.providers__search__container {
  margin-bottom: 200px;
}

.providers__form {
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #6882a1;
  width: 60%;
  height: 680px;
}

.active {
  background-color: #b60002;
}
.private {
  background-color: #0d0829;
}
.search__article {
  font-size: 36px;
  line-height: 43px;
  color: #f0f1f4;
  margin-top: 20px;
}

.button__group {
  display: flex;
  justify-content: space-around;
}
.group_top {
  margin: 30px 0;
}

.request__button_form {
  width: 35%;
  height: 24px;
  border-radius: 30px;
  text-align: center;
  margin: 0 20px;
  max-width: 300px;
  height: 24px;
  border-radius: 30px;
  padding: 15px 30px;
  text-align: center;
  margin: 0 auto;
  transition: 0.45s ease;
  color: #fff;
}

.form__row input {
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  background: #f0f1f4;
  border-radius: 15px;
  margin: 7px 35px;
  padding: 0 10px;
  color: #6882a1;
}

.form__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form__row input::placeholder {
  font-size: 18px;
  line-height: 34px;
  color: #6882a1;
}

.input__left {
  margin-right: 40px;
}
.input__right {
  margin-left: 40px;
}

textarea {
  font-size: 28px;
  line-height: 34px;
  overflow-y: scroll;
  height: 175px;
  resize: none;
  display: block;
  margin: 30px auto;
  width: 75%;
  border-radius: 15px;
  background: #f0f1f4;
}

.request__button_form-bottom {
  width: 300px;
  margin: 0 30px;
  width: 35%;
  height: 24px;
  border-radius: 30px;
  text-align: center;
  height: 24px;
  border-radius: 30px;
  padding: 15px 40px;
  text-align: center;
  margin: 0 15px;
  min-width: 150px;
}

@media (max-width: 990px) {
  .providers__form {
    width: 100%;
    height: 650px;
  }
  .form__container {
    width: 100%;
  }
  .form__row input {
    min-width: 120px;
    padding: 0;
    width: 30%;
    margin: 10px 30px;
  }
  .request__button_form {
    width: 25%;
  }
  p {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: #e5e5e5;
  }
  .request__button_form-bottom {
    width: 27% !important;
    margin: 0 20px;
  }
  .providers__search__container {
    margin: 0;
  }
}
