

.ready__to__join__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
}

.wrapper__article {
  text-align: center;
  margin-bottom: 4%;
  font-size: 36px;
  line-height: 43px;
  text-align: center;

  color: #0d0829;
}
