.general__stats {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  .stats__block {
    text-align: center;
  }
  .stats__block_article {
    font-size: 24px;
    line-height: 26px;
    color: #b60002;
  }
  .stats__block_elementt {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
}


