.transparrent__button {
  width: 230px;
  height: 14px;
  background: #f0f1f4;
  border: 1px solid #091358;
  border-radius: 30px;
  padding: 10px 30px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 568px) {
    width: 100px !important;
  }
  a {
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #6882a1;
  }
}
