// Navigation styling
.nav {
  background: url("./nav-bg.jpg");
  height: 50px;
  padding: 0 30px;
  display: flex;
  z-index: 2;
  position: relative;
  justify-content: space-between;
  align-items: center;

  span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #333333;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  &__logo {
    width: 50%;
    height: 50%;
  }
  .menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    &__item {
      margin: 25px 25px;
    }
    &__link {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .nav__logo {
    width: 50px;
  }
  .icon__items {
    display: none;
  }
}
.menu__mobile {
  display: none;
}

@media (max-width: 968px) {
  .nav {
    display: none;
  }

    .menu__mobile {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url("./Rectangle.png");
      width: 100vw;
      text-align: center;
      height: 100vh;
      z-index: 10;
      position: absolute;
      right: -100vw;
      top: 0;
      transition: all 0.5s;
      .menu__item {
        margin: 10px auto;
        a {
          color: #ffffff;
          text-decoration: none;
          font-size: 25px;
          line-height: 30px;
          color: #ffffff;
        }
      }
    }
    .menu-active {
      right: 0;
    }
    .gamburger {
      position: absolute;
      right: 20px;
      top: 50px;
      border-radius: 5px;
      width: 40px;
      height: 40px;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.45); 
    }
    .gamburger:hover {
      cursor: pointer;
    }
    .gamburger span {
      display: block;
      z-index: 200;
      transition: all 0.3s;
      width: 30px;
      margin: 2px;
      height: 5px;
      background-color: #fff;
    }
    .first {
      transform: translate(14px, 4px) rotate(45deg);
      transform-origin: right top;
    }
  
    .middle {
      transform: scale(0);
    }
    .last {
      transform: translate(13px, -37px) rotate(-45deg);
      transform-origin: right bottom;
    }
  }
