footer{
    background-color: #0A195A;
    height:900px;
    width: 100%;
    display: flex;
    justify-content: center;
    color:#6882A1;
}

.footer__article{
    text-align: center;
    font-size: 36px;
    line-height: 43px;
}