.general__stats{
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    .stats__block{
        padding: 15px 80px;
        text-align: center;
    }
    .block__article {
        font-size: 38px;
        line-height: 48px;
        color: #B60002;
    }
    .block__element {
        font-size: 36px;
        line-height: 34px;
        color: #000000;
    }
}