.general__stats{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 0 15%;
   
    .stats__block{
        padding: 15px 80px;
        text-align: center;
    }
    .block__article {
        font-size: 24px;
        line-height: 26px;
        color: #B60002;
    }
    .block__element {
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }
}