.table__head,
.table__info {
  margin: 0 auto;
  justify-content: center;
}

.table__info td,
.table__head td {
  padding: 1.6% 1.4% 2% 1.4%;
  text-align: left;
  border-bottom: 1px solid #6882a1;
  word-break: all-break;
}
