.providers__container {
  margin: 250px auto 250px auto;
}
.providers__container_table {
  background-color: #fff;
  margin: 300px auto 0 auto;
  width: 90%;
  padding: 1.1rem;
}
.container__table_wrapper {
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

@media (max-width: 1143px) and (min-width: 968px) {
  .providers__container {
    padding: 0 20px;
  }
  .providers__container_table {
    margin: 200px auto 0 auto;
    width: 95%;
  }
}

@media (max-width: 1024px) {
  .providers__container {
    margin: 250px auto 0 auto;
    padding: 1rem;
  }

  .providers__container_table {
    margin: 200px auto 0 auto;
    width: auto;
    padding: 5px;
  }
  .container__table_wrapper thead {
    display: none;
  }

  .table__info td,
  .table__head .table__article {
    padding: 1rem 0.5rem;
    text-align: left;
    border-bottom: 1px solid #6882a1;
    width: auto;
  }

  .container__table_wrapper td {
    display: block;
    width: 100%;
  }
  .container__table_wrapper tr {
    width: 94%;
  }
  .container__table_wrapper tbody {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
  }
  .container__table_wrapper tr {
    margin-bottom: 15px;
  }
  .container__table_wrapper td {
    text-align: right !important;
    padding: 20px;
    position: relative;
    font-size: 16px;
  }
  .container__table_wrapper td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  .providers__container_table {
    max-width: 720px;
  }
  table {
    margin: 0 20px;
  }
  tr {
    display: block;
  }
}
